@import "tailwindcss";

/* :root {
  --primary-color: #a3dab6;
  --secondary-color: #2e7267;
  --accent-color: #4eb2b8;
  --text-color: #fff;
  --background: #000;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text: var(--text-color);
  --color-background: var(--background);
} */

body {
  background-color: #000;
  color: #fff;
}

.barlow {
  font-family: var(--font-barlow);
}

.geist-mono {
  font-family: var(--font-geist-mono);
}

.jetbrains-mono {
  font-family: var(--font-jetbrains-mono);
}

@keyframes fadein-from-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes review-fadein {
  from {
    opacity: 0;
    transform: translateY(-7px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loading-gradient {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.review-fadein {
  animation: review-fadein 0.5s ease-in-out;
}

.animate-loading-gradient {
  animation: loading-gradient 2s infinite;
}
