@import "tailwindcss";

:root {
  --primary-color: #a3dab6;
  --secondary-color: #2e7267;
  --accent-color: #4eb2b8;
  --text-color: #ebf7ee;
  --background: #0a190f;
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

.primary-text {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}

.accent-text {
  color: var(--accent-color);
}

.accent-background {
  background-color: var(--accent-color);
}

.barlow {
  font-family: var(--font-barlow);
}

.geist-mono {
  font-family: var(--font-geist-mono);
}

@keyframes fadein-from-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-from-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes review-fadein {
  from {
    opacity: 0;
    transform: translateY(-7px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.review-fadein {
  animation: review-fadein 0.5s ease-in-out;
}

.fade-in-from-top {
  animation: fadein-from-top 1s ease-in-out;
}

.fade-in-from-left {
  animation: fadein-from-left 1s ease-in-out;
}
